.carousel {
    height: 600px;
}

body {
    background-color: burlywood;
    width: 100%;
    background-image: url("../images/Mars-At-Night.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    color: white;
    text-align: center;
}