.carousel {
    height: 600px;
}

body {
    background-color: #f8eede;
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    background-image: url("../images/Mars-At-Night.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    color: white;
}

header {
    font-family: 'Orbitron', sans-serif;
}

#main-header { 
    font-size: 40px;
    text-align: center;
    background-color: #ee5242;
    color: #F4E6CD;
    padding: 30px 0px;
}

header h2 {
    font-size: 30px;
    text-align: center;
}

.text-shadow {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.no-padding {
    padding: 0%;
}